* {
  margin: 0;
  font-family: 'Source Sans Pro';
}

#jumbotron {
  background-color: #1f2532;
}

.container {
  width: 100%;
  width: 900px;
  height: 600px;
  margin: 0 auto;
  background-color: #1f2532;
}

header img.logo {
  width: 100px;
  position: relative;
  left: 20px;
  top: 14px;
}

#jumbotron > .container {
  position: relative;
}

#jumbotron > .container2 {
  position: relative;
}

nav {
  position: absolute;
  right: 108px;
  top: 15px;
  z-index: 15;
}

nav a {
  position: relative;
  left: 18px;
  text-decoration: none;
  color: gray;
  margin-right: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  padding: 1px;
}

nav button {
  width: 60px;
  height: 26px;
  position: relative;
  top: -21px;
  left: 160px;
  background-color: #30c469;
  z-index: 6;
  border-radius: 2px;
  color: white;
  border: none;
}

.secondsign button {
  position: relative;
  bottom: 7px;
  left: 1px;
  width: 120px;
  height: 20px;
  background-color: #30c469;
  border-radius: 2px;
  color: white;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
}

.vid {
  display: inline-block;
  width: calc(50% - 20px);
  margin-top: 140px;
  margin-right: 20px;
  background-color: #1f2532;
}

.email {
  display: inline-block;
  float: left;
  width: calc(50% - 20px);
  margin-top: 140px;
  padding-top: 30px;
  margin-left: 20px;
  background-color: #1f2532;
}

.big {
  color: white;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 38px;
  font-weight: normal;
  line-height: 1.2;
}

.small {
  color: white;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 26px;
}

.playvid {
  width: 100%;
}

.playicon {
  position: relative;
  bottom: 190px;
  left: 190px;
  width: 68px;
}

.emailbox {
  margin-top: 24px;
}

.container2 {
  width: 100%;
  height: 500px;
  position: absolute;
  margin: 0 auto;
  overflow: auto;
  background-color: #f6f8fc;
}

.subcont2 {
  width: 900px;
  height: 400px;
  margin: 0 auto;
  background-color: #f6f8fc;
}

.column {
  width: 33%;
  height: 100%;
  float: left;
  margin: 0 auto;
}

.subcolone,
.subcoltwo,
.subcolthree {
  width: 258px;
  height: 180px;
  background-color: white;
  margin: 74px auto;
  border: 1px #ebecf0 solid;
  border-radius: 2px;
}

.subsub img {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  width: 20px;
  z-index: 9;
}

.subsub {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
  width: 40px;
  height: 40px;
  background-color: #2e64c0;
  border-radius: 2px;
}
