* {
  margin: 0;
  font-family: 'Source Sans Pro';
}

#jumbotron {
  background-color: #1f2532;
}

.container {
  width: 900px;
  height: 600px;
  margin: 0 auto;
}

header {
  padding: 20px;
}

header img.logo {
  position: relative;
  left: 100px;
  width: 80px;
}

#jumbotron > .container {
  position: relative;
}

nav {
  display: inline-block;
  position: absolute;
  right: 1px;
  top: -40px;
}

nav a {
  position: relative;
  left: 24px;
  text-decoration: none;
  color: gray;
  margin-right: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  padding: 1px;
}

nav button {
  width: 60px;
  height: 26px;
  position: relative;
  top: -21px;
  left: 140px;
  background-color: #30c469;
  z-index: 6;
  border-radius: 2px;
  color: white;
  border: none;
}
